

#note {
    font-family: inherit;
    resize: none;
    color: inherit;
    font-size: inherit;
    flex-grow: 1;
    min-height: 15rem;
    margin: 1rem;
}

#username {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    margin-top: 1rem;
}

#title {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}