

    #notesContainer {
        @include container-size;
        @include thick-border;
        font-family: $font-primary;
        color: $color-text-primary;
        overflow-y: scroll;
        scrollbar-width: thin;
        
    }